.cabecalho{
    background-color: darkorchid;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: antiquewhite;
    padding: 20px;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.snvg");
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    
    
}

.pesquisa {
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

#campo_pesquisa {
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    background-color: transparent;
    box-sizing: border-box;
}

.lupa {
    position: absolute;
    left: 10px;
    height: 20px;
    display: flex;
    align-items: center;
}

.lupa img {
    height: 100%;
    width: auto;
}

.container__botao:checked~.containner__rotulo>.cabeçalho__menu-hamburguer{
    background-image: url("/imagens/menu_aberto.png");
}
.container__botao:checked~.container__rotulo{
    
        background-color: darkorchid;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        position: relative;
    
}


.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}